.chat 
   .header
      .left-header
         .left-header__title
            = @group.name
         %ul.left-header__members
            Member:
            %li.member
               
            %li.member
               メンバー
      .right-header
         .right-header__button
            = link_to "Exit", edit_group_path(current_user)
   .messages
      = render @messages
   .form
      = form_for [@group, @message] do |f|
         .new-message
            .input-box
               = f.text_field :content, class: 'content', placeholder: "text"
               = f.label :image, class: 'image' do
                  = fa_icon 'image', class: 'icon'
                  = f.file_field :image, class: 'hidden'
            = f.submit '送信', class: "send"
