.wrapper 
 .side-bar
  .header
   .header__user
    ユーザーネーム
   %ul.header__lists
    %li.list
     = link_to '#' do 
      = fa_icon 'pencil-square-o', class: 'icon'
    %li.list 
     = link_to '#' do 
      = fa_icon 'cog', class: 'icon'
  .groups
   .group
    .group__name
     グループ名
    .group__message
     メッセージ   
   .group
    .group__name
     グループ名
    .group__message
     メッセージ
 .chat
  .header
   .left-header
    .left-header__title
     グループ名  
    %ul.left-header__members
     Member:
     %li.member
      メンバー
     %li.member
      メンバー
   .right-header
    .right-header__button
     Edit 
  .messages
   .message
    .up-message
     .up-message__user-name
      名前
     .up-message__date
      2020/01/01
    .low-message
     .low-message__content  
      メッセージ
   .message
    .up-message
     .up-message__user-name
      名前
     .up-message__date
      2020/01/01
    .low-message
     .low-message__content  
      メッセージ   
  .form
   %form.new-message
    .input-box
     %input.content{placeholder: "text"}
      %label.image
       = fa_icon 'image', class: 'icon'

       %input.hidden{type: 'file'}
    
    
    %input.send{type: 'submit', value: 'Send'}

                   